#wrapper{
    width: 970px;
    margin: 50px auto;
    text-align:center;
}

#word-box{
    /* border: 2px solid black; */
    /* margin-right: 235px; */
    /* width: 500px; */
    align-content: center;
}

h1{
    border: 2px solid black;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
}

