<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Relase Date</th>
            <th>Actions</th>
        </tr>
        {% for show in all_shows %}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td>
                <a href="/show/{{show.id}}">Show</a>
            </td>
            <td>
                <a href="/show/{{show.id}}/edit">Edit</a>
            </td>
            <td>
                <a href="/show/{{show.id}}/destroy">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/show/new">Add a New Show!</a>
</body>
</html>