<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Go Back</a>
    <h1>TV Show {{show.id}}</h1>

    Title: {{show.title}}
    Network: {{show.network}}
    Release Date: {{show.release_date}}
    Description: {{show.desc}}

    Last Updated: {{show.updated_at}}

    <a href="/show/{{show.id}}/edit">Edit</a> | <a href="/show/{{show.id}}/destroy">Delete</a>
    
</body>
</html>