#wrapper{
    margin: 0px;
    padding: 0 px;
}
.row{
    padding:10px;
    margin:5px;
}
.row span{
    color:black;
    font-weight: bold;
}
#row-1{
    background-color: rgb(179,179,179);
}
#row-2{
    background-color:rgb(204,204,204) ;
}
#row-3{
    background-color: rgb(255,255,154);
}
/* .desktop{
    display: inline-block;
} */
/* .tablet{
    display: none;
} */

@media only screen and (min-width:0px){
    .phone{display: inline-block;}
    .desktop{display:none;}
    .tablet{display: none;}
    
        
    }
@media only screen and (min-width:481px){
    .desktop{display:none;}
    .tablet{display: inline-block;}
    .phone{display: none;}
        
    }
@media only screen and (min-width:1024px){
    .desktop{display:inline-block;}
    .tablet{display: none;}
    .phone{display: none;}
        
    }