<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>TV Show {{show.id}}</h1>
    Title: {{show.title}}
    <br>
    Network: {{show.network}}
    <br>
    Release Date: {{show.release_date}}
    <br>
    Description: {{show.desc}}
    <br>
    Last Updated: {{show.updated_at}}
    <br>
    <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/destroy">Delete</a>
</body>
</html>