<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
</head>
<body>
    <h1>Crud</h1>
    <a href="/dogs/new">Create New Dog</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        {% for dog in all_dogs %}
        <tr>
            <td>{{dog.id}}</td>
            <td>{{dog.name}}</td>
            <td>{{dog.age}}</td>
            <td>
                <a href="/dogs/{{dog.id}}">Show</a>
                <form action="/dogs/{{dog.id}}/destroy" method ="POST">
                {% csrf_token %}
                <input type="submit" value="Delete">
                </form>
                <a href="/dogs/{{dog.id}}/edit">Edit</a>
            </td>
            
                
        </tr>
        {% endfor %}
    </table>
</body>
</html>